{% extends 'base.html' %}
{% block body %}
<div class='gallery-view-data'>
        <h2> about the artist </h2>
</div>
<div class='words'>
    <p>USA born artist now living in Cornwall, England</p>
    <p>BSc Computer Science and Math from Virginia Tech 2018</p>
    <p>Started out as a software developer but didnt like looking at screens so much</p>
    <p>Began practicing art in 2019</p>
</div>

<!--
<div class='gallery-view-data' style="background: #c0b0bf;">
        <h2> blog </h2>
</div>
<ul class='blog'>
    <li>
        <div class='words'>
            <p>We are all burdened with an inner fire we must tend.</p>
            <p>Many let her reduce to embers, unwilling to take the heat.</p>
            <p>Others let her burn out of control, terrified they might lose her.</p>
            <p>Some strive for balance and work to understand her nature.</p>
            <p>All toil but the few that forget who is tending who.</p>
        </div>
    </li>
</ul>
-->
{% endblock %}
