<!DOCTYPE html>
<html>
    <head>
        <title>Aidan Barton</title>
        <link type="text/css" rel="stylesheet" href="/static/main.css"/>
        <link type="img/png" rel="icon" href="/static/pictures/favicon.png"/>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">aidan barton</a>
                </li>
                <li>
                    <a href="/gallery">gallery</a>
                </li>
            </ul>
        </nav>
        <div class="main-wrapper">
            <div class='main'>
            {% block body %}
            {% endblock %}
            </div>
            <div class="footer">
                social media
            </div>
        </div>
    </body>
</html>
