<!DOCTYPE html>
<html>
    <head>
        <title>Aidan Barton</title>
        <link type="text/css" rel="stylesheet" href="/static/main.css"/>
        <link type="img/png" rel="icon" href="/static/pictures/favicon.png"/>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/about">aidan barton</a>
                </li>
                <li>
                    <a href="/">placeholder logo</a>
                </li>
                <li>
                    <a href="/gallery">gallery</a>
                </li>
            </ul>
        </nav>
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
        <div class="footer">
            <a href="https://instagram.com/aidanbarton.art">instagram</a>
        </div>
    </body>
</html>
